* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.App {
    margin: auto;
    height: 100vh;
    width: 90%;
    justify-content: center;
}

.List {
    background-color: #282c34;
    width: 100%;
    height: 500px;
    border-radius: 3px;
    color: white;
    z-index: 99;
    padding-left: 10px;
    padding-top: 5px;
    overflow-y: auto;
    margin-left: 5px;
}

.List ul {
    list-style: none;
}

.Map {
    margin: auto;
    position: relative;
}

.Gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 600px;
    width: 100%;
}

.Mapouter {
    position: relative;
    text-align: right;
    height: 600px;
    width: 100%;
}

.Main {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
}

#idProductSearch {
    height: 30px;
    font-size: 20;
}

.clMap {
    width: 850px !important;
}